body {
    background: rgb(80, 243, 255);
    background: linear-gradient(to top, rgb(80, 243, 255), rgb(62, 145, 153), rgb(80, 243, 255));
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

h2 {
    width: 350px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 50px;
}

label {
    text-align: center;
    font-size: 20px;
    width: 260px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

input {
    background: rgba(17, 166, 252, 0.884);
    border-radius: 10px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}

button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover{
    transition: all 250ms;
    color: #00c3ff !important;
    background: #63B8EE;
    background: linear-gradient(to top, #63B8EE, #1504ff);
}

div{
    text-align: center;
    width: 130px;
    height: 45px;
    border-radius: 20px;
    background-color: rgba(245, 245, 220, 0.842);
}

a {
    color: black;
    text-decoration: none;
}

body.dark {
    background: #172368;
    background: linear-gradient(to top, #172368, #371781, #172368);
    transition: 1s;
}

.dark button {
    background: #00b6ee;
    background: linear-gradient(to top, #00b6ee, #1d4d7e);
    box-shadow: none;
}

.dark button:hover {
    color: black;
    background: #1d4d7e;
    background: linear-gradient(to top, #1d4d7e, #1D76CF);
}

.dark input {
    box-shadow: none;
}