.dark #container {
    background-color: #424242;
    transition: 0.6s;
}

.dark #menu {
    background-color: #424242;
    transition: 0.6s;
}

.dark .fonte {
    background-color:white
}

.dark a {
    color: white;
}

.dark h1 {
    color: rgb(255, 255, 255);
}

.dark h2 {
    color: rgb(255, 255, 255);
}

.dark p {
    color: rgb(255, 255, 255);
}

.dark label {
    color: rgb(255, 255, 255);
}

.dark input[type="text"],.dark input[type="password"] {
    background-color: rgb(202, 202, 206);
    color: rgb(60, 60, 61);
}

.dark button[type="submit"] {
    color: white;
}

.dark input[type="submit"] {
    color: aliceblue;
}

.dark #parkingTableBody {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.dark .text {
    color: white;
}

.dark #vagas {
    background-color: #424242;
}