/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagem%20de%20fundo(1).jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 840px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-overflow: clip;
    overflow-y: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="submit"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0.308) 1px;
}

input[type="submit"] {
    background-color: rgba(0, 128, 0, 0.521);
    width: 20%;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}